<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.kenrg.yarnover">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".Yarnover"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".oauth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".oauth.OAuthActivity"/>
        <activity android:name=".oauth.AuthenticateActivity"/>
        <activity android:name=".facets.hotrightnow.HotRightNowActivity"/>
        <activity
            android:name=".facets.patterndetails.PatternDetailsActivity"
            android:label=""
            android:parentActivityName=".facets.hotrightnow.HotRightNowActivity"
            android:theme="@style/AppTheme.BlackStatusBar"/>
        <activity android:name=".facets.patternview.PatternPDFViewActivity"/>
    </application>

</manifest>